body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
 }
div {
    box-sizing: border-box;
}
header{
    background: url("/home/davo/Desktop/menu_box/pinky-фон-кирпичной-стены-45288997.jpg") no-repeat center top / cover;
    height: 800px;
  }
.container{
    width: 920px;
    margin: 0 auto;
    display: block;
    height: 100%;
}

.logo{
     margin-top: 55px;
    float: left;
}
nav {
    float: right;
    margin-top: 85px;
    font-weight: bold;
}
.menu {
    padding: 0;
    margin: 0;
    display: block;
}
.menu li {
    float: left;
    display: block;
    margin-right:42px;
}
.menu a {
    color: #2F4F4F;display:block ;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}
.title_first {
    font-size: 33px;
    color:#2F4F4F;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-top:240px;
    display: block;
}
h1 {
    font-size: 55px;
    color:#2F4F4F;
    text-transform: uppercase;
    text-align: center;
    margin-top:0;
}
.button {
    background: #90EE90;
    color: #2F4F4F;
    border:3px solid #2F4F4F;
    border-radius: 8px;
    display: block;
    width: 220px;
    padding: 30px 0;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 70px;
    letter-spacing: 1px;
}
.title {
    padding-top: 90px;
}
.title h2 {
    font-weight: bold;
    color: #2F4F4F;
    font-size: 40;
    text-transform: uppercase;
    text-align: center;
    margin: 0;


}
.title p {
    color: #2F4F4F;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 25px;
}
.services {
    color:#2F4F4F;

    width: 100%;
    display: inline-block;
}
.services_item {
    width: 33%;

    float: left;
    text-align:center;
}
.services_item h3 {
    /*font-size: 19px;*/
    /*text-transform: uppercase;*/
    /*margin-bottom: 10px;*/
}

.services_item p {
    /*font-size: 12px;*/
    /*text-transform: capitalize;*/
}
/*.services_item:last-child {*/
    /*float: right;*/
/*}*/
/*.services_item:nth-child(2){*/
    /*margin-left: 50px;*/
/*}*/

#services {
    width: 100%;
    background-color: yellow;

}
/*#portfolio {*/
    /**/
    /*background:#EEE8AA;*/
    /*text-align: center;*/
    /*display: block;*/
    /*}*/
/*.title_2{*/
    /*padding-top: 90px;*/
    /*text-align: center;*/
/*}*/
/*.title_2 h2 {*/
    /*font-weight: bold;*/
    /*color: #2F4F4F;*/
    /*font-size: 40;*/
    /*text-transform: uppercase;*/
    /*margin: 0;*/
/*}*/
/*.title_2 p {*/
    /*color: #2F4F4F;*/
    /*font-weight: bold;*/
    /*font-size: 15px;*/
    /*text-transform: uppercase;*/
    /*margin-top: 25px;*/
/*}*/
/*.works img {*/
    /*padding-bottom: 60px;*/
    /*margin: 0 30px 0 30px;*/
/*}*/
